@import './partials/variables';
@import './style.scss';
@import './partials/form';

.form {
  input,
  .form-control {
    border-radius: 10px;

    &:focus {
      border-color: $dark-background-color;
      outline: none;
      box-shadow: none;
    }
  }
}