@import './variables';

.top-navigation {
  background-color: $light-background-color;
  padding: 10px;

  .support-text {
    text-align: center;
    float: left;

    @media (max-width: $sm-max) {
      float: none;
    }
  }

  .social-links {
    display: flex;
    float: right;

    @media (max-width: $sm-max) {
      float: none;
      justify-content: center;
    }
  }
}

.navbar {
  -webkit-box-shadow: 0 3px 10px $box-shadow-2;
  box-shadow: 0 3px 10px $box-shadow-2;
  padding: 0;

  @media (max-width: $sm-max) {
    padding: 5px 10px;
  }

  .navbar-brand {
    color: $dark-background-color;
    font-weight: 800;
    padding: 5px 0;

    .logo {
      height: 55px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  .nav-link {
    color: $default-color;
    padding: 20px 10px;

    @media (max-width: $sm-max) {
      padding: 5px 10px;
    }

    &.active {
      color: $dark-background-color;
    }

    &:hover {
      color: $dark-background-color;
    }
  }

  .hamburger .hamburger-line {
    width: 35px;
    height: 5px;
    background-color: $default-color;
    margin: 6px 0;
  }

  .dropdown {
    position: relative;

    .dropdown-menu {
      border: none;
      border-bottom: 1px solid $white-color;
      border-radius: 0;
      box-shadow: 0px ​5px 10px 0px $box-shadow-2;
      margin: 0;

      @media (max-width: $sm-max) {
        border: none;
        display: block;
        padding: 0;
        margin-left: 20px;
      }

      .nav-link {
        font-size: 16px;
        padding: 5px 10px;

        &:hover {
          background-color: $light-background-color;
        }
      }
    }

    &:hover .dropdown-menu {
      display: block;
      padding: 0;
    }
  }
}
