$default-background-color: #fefefe;

$default-color: #4A4A4A;
$white-color: #FFFFFF;
$red-color: red;
$heart-color: #e31b23;
$default-image-placeholder: #CCC;
$grey-1: #979797;
$text-muted: #6c757d;
$telegram-color: #26a4e2;

$light-background-color: #e1edf9;
$dark-background-color: #1d5997;
$highlighter-color: #fad400;

$box-shadow-1: rgba(0, 0, 0, 0.15);
$box-shadow-2: rgba(0, 0, 0, .05);

$sm-max: 767px;
$md-min: $sm-max + 1;

$image-url: '../images/';
